  
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


body {
  padding: 0;
  margin: 0;
  background-image: url("../img/index_background.jpg");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  border: 3px solid;
  border-radius: 0;
  text-align: center;
} 

h4 {
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  text-align: center;
} 


h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold; 
}
  
a.navbar-brand {
    font-family: 'Rock Salt', cursive;
}
a.nav-link {
  font-family: 'Montserrat', sans-serif; 
  font-size: 14px;
  font-weight: bold; 
}

.dropdown-item {
  font-family: 'Montserrat', sans-serif; 
  font-size: 14px;
  font-weight: bold; 
} 

#map,

html {
  height: 100%;
}

