  
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


body {
  padding: 0;
  margin: 0;
  background-image: url("../img/visualizations_background_v3.jpg");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    border: 3px solid;
    border-radius: 0;
    text-align: center;
  } 

 
  h2 {
  font-family: 'Montserrat', sans-serif; 
  font-size: 20px;
  /* font-weight: bold;   */
  }

  h3 {
    font-family: 'Rock Salt', cursive;
    font-size: 35px;
    text-align: center;
  }
  h4 {
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    text-align: center;
  } 


  h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold; 
    text-align: left;
  }
  
  h6 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 25px;
    font-weight: bold; 
    color:darkred;
  }

a.navbar-brand {
    font-family: 'Rock Salt', cursive;
    }
a.nav-link {
  font-family: 'Montserrat', sans-serif; 
  font-size: 14px;
  font-weight: bold; 

}
#map,

html {
  height: 100%;
} 

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 2px;
    height: 10px;
  }


